<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:head></h:head>
<h:body>
	<ui:composition template="template/common/commonLayout.xhtml">
		<ui:define name="content">
			<p:dialog widgetVar="uploadFile" header="Upload Image" modal="true" appendTo="@(body)" resizable="false">
				<h:form enctype="multipart/form-data" id="ulpoadForm">
				    <p:growl id="messages" showDetail="true" />
				 	<p:panelGrid columns="1">
				 		<p:row>
				 			<p:column><p:fileUpload fileUploadListener="#{imageMB.upload}" mode="advanced" update="fileName"/></p:column>
				 		</p:row>
				 		<p:row>
				    	<p:column><h:outputText value="Descriere"/>
				    		<p:inputText value="#{imageMB.newImage.description}" required="true"/></p:column>
				    	</p:row>
				    	<p:row>
				 			<p:column>
				 				<h:outputText value="#{imageMB.fileName}" id="fileName"/>
								<p:commandButton value="Submit" style="float:right">
									<p:ajax event="click" listener="#{imageMB.save}" process="@form" update="base:galleria"/>
								</p:commandButton>
							</p:column>
				 		</p:row>
				    </p:panelGrid>
				</h:form>
			</p:dialog>
			<p:commandButton value="Upload File" onclick="PF('uploadFile').show()" 
			rendered="#{security.isAuthenticated()}"
			style="float: right; margin-bottom: 10px;"/>
			<p:galleria value="#{imageMB.galleryImages}" var="image" showCaption="true" autoPlay="false"
			 style="text-align:center; width:auto !important" id="galleria">
			    	<p:graphicImage value="/images/#{image.imageName}" alt="#{image.description}" title="#{image.imageName}"/>
			</p:galleria>
		</ui:define>
	</ui:composition>
</h:body>
</html>