<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:fn="http://java.sun.com/jsp/jstl/functions">
<h:body>
	<ui:composition template="template/common/commonLayout.xhtml">
		<ui:define name="content">
			<div>
			<h2 align="center">„Gările şi Staţiile auto”</h2>
			<p:growl id="growl" showDetail="true"></p:growl>
			<h:form id="mapForm" style="padding-left:10px;">
			<ui:param name="mysingle" value="\n"></ui:param>
				<div style="display: -webkit-box;">
					<p:gmap center="47.022224, 28.345888" zoom="8" type="HYBRID" id="map"  fitBounds="true"
						style="width:52%;height:540px" model="#{indexMB.simpleModel}" widgetVar="indexGmap">
						<p:ajax event="overlaySelect" listener="#{indexMB.onMarkerSelect}"></p:ajax>
						<p:gmapInfoWindow id="infoWindow">
							<h:panelGrid columns="1">
								<h:outputText value="#{fn:replace(indexMB.selectedMarker.data,mysingle,'&lt;br/&gt;')}" escape="false"/>
							</h:panelGrid>
						</p:gmapInfoWindow>
					</p:gmap>
				<h:panelGrid columns="1" style="padding-left:20px;">
					<p:dataTable id="officesDataTable" var="office" value="#{indexMB.offices}" widgetVar="officesDataTableWidget"
						style="width: 45%" selectionMode="single" selection="#{indexMB.selectedOffice}" rowKey="#{office.idOffice}"
						paginator="true" rows="10"
						paginatorTemplate="{RowsPerPageDropdown} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {NewOffice}"
                 		rowsPerPageTemplate="5,10,15" >
						<p:ajax event="rowSelect" listener="#{indexMB.onRowSelect}" update="base:mapForm:map" />
						<f:facet name="{NewOffice}">							
				                <p:graphicImage name="/img/icon/add_blue.png" width="27" 
				                style="float: right; margin-right: 20px;" title="New Office"
				                 onclick="PF('newOffice').show()" rendered="#{security.isAuthenticated()}"/>				           
					    </f:facet>
						<p:column headerText="Gările Auto">
							<h:outputText value="#{msg[office.name]}, #{msg[office.locality.name]}" />
						</p:column>
					</p:dataTable>
					<p:commandButton value="Resetare" id="resetButton" widgetVar="resetButton" onstart="PF('officesDataTableWidget').unselectAllRows();">
						<p:ajax event="click" update="base:mapForm:map" listener="#{indexMB.getMarkers}" />
					</p:commandButton>
				</h:panelGrid>
					</div>
					
				</h:form>
			</div>
		</ui:define>
	</ui:composition>
</h:body>
</html>