<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
	<ui:composition template="template/common/commonLayout.xhtml">
		<ui:define name="content">
			<p:media value="/resources/pdf/legislatie.pdf" height="99%" width="100%">
				<object type="application/pdf">
	            Your browser can't display pdf, <a href="/resources/pdf/legislatie.pdf">click</a> to download pdf instead.
	                    </object>
			</p:media>
		</ui:define>
	</ui:composition>
</h:body>
</html>