<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui"
	xmlns:pe="http://primefaces.org/ui/extensions">
<h:body>
	<ui:composition template="template/common/commonLayout.xhtml">
		<ui:define name="content">
		<h:outputScript library="js" name="map_direction.js" />
					 <p:commandLink ajax="false" immediate="true">					
				                <p:graphicImage name="/img/icon/excel.png" width="27" style="float: right; margin-right: 40px;"/>	
				                 <p:dataExporter type="xls" target="routeForm:routesTable" fileName="routes" pageOnly="true"/>		
				             </p:commandLink> 
			<h:form id="routeForm">       
				<p:dataTable widgetVar="routesTable" var="route" value="#{routeMB.lazyModel}" paginator="true" rows="10"
					selectionMode="single" selection="#{routeMB.selectedRoute}"
					rowKey="#{route.idRoute}" id="routesTable"
					paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {NewRoute}"
                 	rowsPerPageTemplate="5,10,15" lazy="true" >
					<p:ajax event="rowSelect" listener="#{routeMB.onRowSelect}"
						update="base:routeForm:dialog" onsuccess="PF('dlgRoute').show();" />
						<f:facet name="{NewRoute}">							
				                <p:graphicImage name="/img/icon/add_blue.png" width="27" 
				                style="float: right; margin-right: 40px;" title="New Route"
				                onclick="PF('routeFormWidget').show();" rendered="#{security.isAuthenticated()}"/>				           
					    </f:facet>
					<p:column filterBy="#{route.office.name}" headerText="#{msg['datatable.bus.station']}" filterMatchMode="contains">
						<f:facet name="filter">
			                <p:selectOneMenu onchange="PF('routesTable').filter()" filter="true" filterMatchMode="startsWith" style="width:120px">
			                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
			                    <f:selectItems value="#{routeMB.officesName}" var="officeName" itemLabel="#{msg[officeName]}" itemValue="#{officeName}"/>
			                </p:selectOneMenu>
			            </f:facet>
						<h:outputText
							value="#{msg[route.office.name]}" />
					</p:column>
					<p:column filterBy="#{route.startLocality.name}" headerText="#{msg['datatable.starting.point']}" filterMatchMode="contains">
						<f:facet name="filter">
			                <p:selectOneMenu onchange="PF('routesTable').filter()" filter="true" filterMatchMode="startsWith">
			                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
			                    <f:selectItems value="#{routeMB.startLocalitys}" var="startLocality" itemLabel="#{msg[startLocality]}" itemValue="#{startLocality}"/>
			                </p:selectOneMenu>
			            </f:facet>
						<h:outputText
							value="#{msg[route.startLocality.name]}" />
					</p:column>
					<p:column headerText="#{msg['datatable.destination']}" filterBy="#{route.destinationLocality.name}" filterMatchMode="contains">
						<f:facet name="filter">
			                <p:selectOneMenu onchange="PF('routesTable').filter()" filter="true" filterMatchMode="startsWith">
			                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
			                    <f:selectItems value="#{routeMB.destinationLocalitys}" var="destinationLocality" itemLabel="#{msg[destinationLocality]}" itemValue="#{destinationLocality}"/>
			                </p:selectOneMenu>
			            </f:facet>
						<h:outputText
							value="#{msg[route.destinationLocality.name]}" />
					</p:column>
					<p:column headerText="#{msg['datatable.price']} (#{msg['money']})" width="50">
						<h:outputText
							value="#{route.price}" />
					</p:column>
					<p:column headerText="Zilele" width="100">
						<ui:repeat var="day" value="#{route.days}" varStatus="status">
							<h:outputText value="#{day.id}"/>
							<h:outputText value="," rendered="#{!status.last}"/>
						</ui:repeat>
					</p:column>
					<p:column headerText="#{msg['datatable.hour']}" sortBy="#{route.timeStart}" width="110">
						<h:outputText
							value="#{route.timeStart}" />
					</p:column>
					<p:column headerText="" rendered="#{security.isAuthenticated()}" width="100">
						<p:commandButton icon="ui-icon-pencil" onclick="PF('routeFormWidget').show()">
							<p:ajax event="click" listener="#{routeFormMB.editRoute(route.idRoute)}" process="@this" update=":routeFormId"/>
						</p:commandButton>
						<p:commandButton icon="ui-icon-trash">
							<p:confirm header="Confirmare" message="Sunteți siguri că dooriți să continuați?" icon="ui-icon-alert" />
							<p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
						        <p:commandButton value="Da" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check">
						        	<p:ajax event="click" listener="#{routeMB.delete(route.idRoute)}" process="@this" update="base:routeForm"/>
						        </p:commandButton>
						        <p:commandButton value="Nu" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
						    </p:confirmDialog>
						</p:commandButton>
					</p:column>
				</p:dataTable>
			    
				<p:dialog header="#{msg['info.popup.detail']}" widgetVar="dlgRoute" id="dialog"
					width="795" modal="true" appendTo="@(body)">
					<div style="display: -webkit-box; width: 90%">
						<p:gmap center="47.022224, 28.345888" zoom="8" type="hybrid"
							id="map" style="width:300px; height:500px" fitBounds="true"
							model="#{routeMB.simpleModel}" widgetVar="gMap">
						</p:gmap>
						<h:panelGrid columns="1">
							<p:panelGrid style="padding-left:10px;">
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;"
											value="#{msg['datatable.starting.point']}" />
									</p:column>
									<p:column>
										<h:outputText
											value="#{msg[routeMB.selectedRoute.startLocality.name]}" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;"
											value="#{msg['datatable.destination']}" />
									</p:column>
									<p:column>
										<h:outputText
											value="#{msg[routeMB.selectedRoute.destinationLocality.name]}" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.price']}" />
									</p:column>
									<p:column>
										<h:outputText value="#{routeMB.selectedRoute.price} #{msg['money']}" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.hour']}" />
									</p:column>
									<p:column>
										<h:outputText value="#{routeMB.selectedRoute.timeStart}" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.duration.travel']}" />
									</p:column>
									<p:column>
										<h:outputText value="#{routeMB.selectedRoute.timeTravel}" />
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.distance']}(#{msg['datatable.km']})" />
									</p:column>
									<p:column>
										<h:outputText value="#{routeMB.selectedRoute.distance}"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.car']}" />
									</p:column>
									<p:column>
										<h:outputText value="#{msg['bus.model']}: #{routeMB.selectedRoute.bus.name}" />
										<br />
										<h:outputText value="#{msg['bus.color']}: #{msg[routeMB.selectedRoute.bus.color.name]}" />
										<br />
										<h:outputText value="#{msg['bus.number']}: #{routeMB.selectedRoute.bus.number}" />
									</p:column>
								</p:row>
							</p:panelGrid>
							<p:dataList value="#{routeMB.selectedRoute.secondaryRoutes}" var="route" type="unordered"  itemType="none" paginator="true" rows="10" styleClass="paginated">
						        <f:facet name="header">
						            #{msg['datatable.pass.through']}
						        </f:facet>
						        <p:commandLink title="View Detail" oncomplete="showInfoWindow('#{msg[route.locality.name]}')" styleClass="ui-icon ui-icon-search" style="float:left;margin-right:10px">
						            <h:outputText value="#{msg['route.locality.name']}" />
						        </p:commandLink>
						        <h:outputText value="#{msg[route.locality.name]}" style="display:inline-block"/>
						    </p:dataList>
							<p:growl id="messages" style="width:280px;" showDetail="true" />
						</h:panelGrid>
					</div>
				</p:dialog>
		   </h:form>
		</ui:define>
	</ui:composition>
</h:body>
</html>