.right {
	float:right;
}
/* Nord Bar CSS */
.nordBar{
	position: absolute;
	background-color: #0199d9;
	height:65px !important;
}
.nordBar ul {
	list-style-type: none !important;
}

.nordBar .content li {
	display: inline;
}

.nordBar .content a {
	text-decoration: none;
	color: rgba(255,255,255,1);
}

.nordBar .ui-layout-unit-content {
	overflow: hidden !important;
	background-color: #0199d9;
	height: 62px !important;
}

.nordBar .content{
	position: absolute;
	margin: -20px;
    margin-left: -40px;
}

/*Menu Bar CSS */

.menuBar .ui-layout-unit-content{
	overflow: none !important;
	overflow-x: hidden !important;
}

/*Override ui*/

.ui-corner-all{
	border-radius:0px !important;
}
.ui-layout-unit-content{
	overflow-x: hidden !important;
}

.loginButton {
	width:62px; 
	height:62px;
	margin-right: -30px; 
	float: right; 
	margin-top: -1px;
}

.loginButton:hover{
	background-color: #d9d9d9;
	cursor: pointer;
}

.imageMainPage{
    width: 110px;
    height: 70px;
    margin-left: 150px;
    margin-top: 13px;;
}

.imageMainPage:hover{
	background-color: #d9d9d9;
	cursor: pointer;
}

#find {
	text-align: center;
}

.ui-galleria{
	width: 100% !important; 
}

.ui-galleria-panel-wrapper{
	width: 100% !important; 
}

.ui-galleria-panel{
	width: 100% !important;
}

.footerBar{
	background-color: #0199D9;
} 

.footerBar .ui-layout-unit-content {
	background-color: #0199D9;
	color: white;
}

.ui-menu{
	min-width: 180px !important;
	max-width: 200px !important;
	width: auto !important;
	padding:0px !important;
	background-color: #BBE2F2;
	border: none !important;
}

.menuBar{
	background-color: #BBE2F2;
} 

.menuBar .ui-layout-unit-content {
	background-color: #BBE2F2;
}