<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:body>
		<h:form id="loginFormId" >
	  			<h:panelGrid columns="2" id="loginGrid">
		  			 <f:facet name="header">
				         <p:messages id="msgs" />
				     </f:facet>
		  			<h:outputText value="#{msg['authentication.dialog.login']}: " />
				    <p:inputText id="userName" required="true" value="#{loginMB.userName}" requiredMessage="#{msg['authentication.dialog.login.required']}" name="j_username"/>
				    <h:outputText value="#{msg['authentication.dialog.password']}: " />
				    <p:password id="password" required="true" value="#{loginMB.password}" requiredMessage="#{msg['authentication.dialog.password.required']}" name="j_password"/>
				    <h:outputText value=""/>
				    <p:commandButton value="#{msg['authentication.dialog.button']}" style="float: right;" >
				    	<p:ajax event="click" listener="#{loginMB.login}" process="@form" update="loginGrid"/>
				    </p:commandButton>
	  			</h:panelGrid>
  			</h:form>
</h:body>
</html>

