<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
	<h:outputStylesheet name="css/main.css" />
<f:view locale="#{language.locale}">
<f:loadBundle basename="messages/messages" var="msg" />
	<script src="http://maps.google.com/maps/api/js?sensor=false"
		type="text/javascript"></script>
	<h:form id="base">
		<p:layout fullPage="true">
			<p:layoutUnit position="north" styleClass="nordBar" collapsible="true" gutter="0">
				<ui:insert name="header">
					<ui:include src="/template/common/commonHeader.xhtml" />
				</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit position="south" size="50" styleClass="footerBar" collapsible="true" gutter="0">
				<ui:insert name="footer">
					<ui:include src="/template/common/commonFooter.xhtml" />
				</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit position="west" minSize="180" maxSize="200" styleClass="menuBar" collapsible="true" gutter="0">
				<ui:insert name="menu">
					<ui:include src="/template/common/commonMenu.xhtml" />
				</ui:insert>
			</p:layoutUnit>
			<p:layoutUnit position="center" id="centerPanel"
				styleClass="centerBar" collapsible="true" gutter="0">				
					<ui:insert name="content">
						<ui:include src="/template/common/content.xhtml" />
					</ui:insert>			
			</p:layoutUnit>
		</p:layout>
	</h:form>
</f:view>
<p:dialog rendered="#{security.isAuthenticated()}" widgetVar="routeFormWidget" modal="true">
			<h:outputScript library="js" name="map_direction.js" />
	<h:form id="routeFormId">
	  			<div style="display: -webkit-box; width: 90%">
						<p:gmap center="47.022224, 28.345888" zoom="8" type="hybrid"
							id="mapRouteForm" style="width:300px; height:500px" fitBounds="true"
							model="#{routeFormMB.simpleModel}" widgetVar="gMapForm">
						</p:gmap>
						<h:panelGrid columns="1">
							<p:panelGrid style="padding-left:10px;" >
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;"
											value="#{msg['datatable.bus.station']}" />
									</p:column>
									<p:column>
										<p:selectOneMenu value="#{routeFormMB.selectedOffice.idOffice}" 
										id="officeId" style="max-width:300px; min-width:200px"
										filter="true" filterMatchMode="contains">
						                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
						                    <f:selectItems value="#{routeFormMB.allOffice}" var="office" itemLabel="#{msg[office.name]}, #{msg[office.locality.name]}" 
						                    itemValue="#{office.idOffice}"/>
						                	<p:ajax event="change" listener="#{routeFormMB.busStationChange}" process="@this" update="@this startLocality"/>
						                </p:selectOneMenu>
						                <p:graphicImage name="/img/icon/add_blue.png" width="27" 
						                style="float: right;" title="New Office"  onclick="PF('newOffice').show()"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;"
											value="#{msg['datatable.starting.point']}" />
									</p:column>
									<p:column>
										<p:selectOneMenu id="startLocality" value="#{routeFormMB.selectedRoute.startLocality.idLocality}" filter="true" filterMatchMode="contains">
						                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
						                    <f:selectItems value="#{routeFormMB.allStartLocality}" var="locality" itemLabel="#{msg[locality.name]}" itemValue="#{locality.idLocality}"/>
						                	<p:ajax listener="#{routeFormMB.localityChange}" update="@this"/>
						                </p:selectOneMenu>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;"
											value="#{msg['datatable.destination']}" />
									</p:column>
									<p:column>
										<p:selectOneMenu value="#{routeFormMB.selectedRoute.destinationLocality.idLocality}" 
										id="localityId"
										filter="true" filterMatchMode="contains">
						                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
						                    <f:selectItems value="#{routeFormMB.allLocality}" var="locality" itemLabel="#{msg[locality.name]}" itemValue="#{locality.idLocality}"/>
						                	<p:ajax listener="#{routeFormMB.localityChange}" update="@this"/>
						                </p:selectOneMenu>
						                <p:graphicImage name="/img/icon/add_blue.png" width="27" 
						                style="float: right;" title="New locality" onclick="PF('newLocality').show()"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.price']}" />
									</p:column>
									<p:column>
										<p:inputText value="#{routeFormMB.selectedRoute.price}" required="true"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.distance']}(#{msg['datatable.km']})" />
									</p:column>
									<p:column>
										<p:inputText value="#{routeFormMB.selectedRoute.distance}" required="true" id="distance"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.hour']}" />
									</p:column>
									<p:column>
										<p:inputText style="width: 40px" required="true" value="#{routeFormMB.timeHour}"/>
										<h:outputText value=" h"/>
										<p:inputText style="width: 40px; margin-left: 20px" required="true" value="#{routeFormMB.timeMin}"/>
										<h:outputText value=" m"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.duration.travel']}" />
									</p:column>
									<p:column>
										<p:inputText style="width: 40px" required="true" value="#{routeFormMB.timeTravelHour}"/>
										<h:outputText value=" h"/>
										<p:inputText style="width: 40px; margin-left: 20px" required="true" value="#{routeFormMB.timeTravelMin}"/>
										<h:outputText value=" m"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="#{msg['datatable.car']}" />
									</p:column>
									<p:column>
									    <p:selectOneMenu value="#{routeFormMB.selectedBus.id}" filter="true" filterMatchMode="contains" 
									    	id="routeFormBus">
						                    <f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
						                    <f:selectItems value="#{routeFormMB.allBus}" var="bus" itemLabel="#{bus.number}" itemValue="#{bus.id}"/>
						                </p:selectOneMenu>
						                <p:graphicImage name="/img/icon/add_blue.png" width="27" 
						                style="float: right;" title="New Bus" onclick="PF('newBus').show()"/>
									</p:column>
								</p:row>
									<p:row>
									<p:column>
										<h:outputText style="font-weight: bold;" value="Zilele" />
									</p:column>
									<p:column>
									   <p:graphicImage name="/img/icon/add_blue.png" width="27" 
						                style="float: right;" title="New Days" onclick="PF('newDays').show()"/>
									</p:column>
								</p:row>
								<p:row>
									<p:column colspan="2">
										<h:outputText style="font-weight: bold;" value="#{msg['info.popup.secondary.route']}" />
										<p:graphicImage name="/img/icon/add_blue.png" width="27" 
						                style="float: right;" title="New Secondary Route" onclick="PF('newSecondaryLocality').show()"/>
										    <p:pickList value="#{routeFormMB.secondaryRoutes}" var="secondaryRoute" id="secondaryRoute"
										                itemValue="#{secondaryRoute}" itemLabel="#{msg[secondaryRoute.locality.name]}" showCheckbox="true"
										                showSourceFilter="true" showTargetFilter="true" filterMatchMode="contains"
										                style="width: 100px" converter="secondaryRouteConverter">
										 
										        <f:facet name="sourceCaption">#{msg['info.popup.secondary.route.available']}</f:facet>
										        <f:facet name="targetCaption">#{msg['info.popup.secondary.route.target']}</f:facet>
										        
										        <p:ajax event="transfer" listener="#{routeFormMB.onTransfer}" update="messages" />										        
										    </p:pickList>
									</p:column>
								</p:row>
							</p:panelGrid>
							<p:commandButton value="#{msg['button.save']}" style="float:right;">
								<p:ajax event="click" listener="#{routeFormMB.saveRoute}" process="@form" update="messages"/>
							</p:commandButton>
							 <p:messages id="messages" showDetail="true" autoUpdate="true" closable="true" />
						</h:panelGrid>
					</div>
	</h:form>	
</p:dialog>
<p:dialog appendTo="@(body)" widgetVar="newBus" resizable="false" header="Adaugarea autobuzului"
	rendered="#{security.isAuthenticated()}" modal="true">
	<h:form id="newBusForm">
		<h:panelGrid columns="2">
			<h:outputText value="Marca: "/>
			<p:inputText value="#{busMB.newBus.name}" required="true"/>
			<h:outputText value="Numarul: "/>
			<p:inputText value="#{busMB.newBus.number}" required="true"/>
			<h:outputText value="Culoarea: "/>
			<p:selectOneMenu value="#{busMB.selectedColor.id}" filter="true" filterMatchMode="contains">
					<f:selectItems value="#{busMB.colors}" var="color" itemLabel="#{msg[color.name]}" itemValue="#{color.id}"/>
			</p:selectOneMenu>
			<h:outputText/>
			<p:commandButton value="#{msg['button.save']}" style="float:right">
				<p:ajax event="click" process="@form" listener="#{busMB.saveBus}" update="messagesBus :routeFormId:routeFormBus"/>
			</p:commandButton>
		</h:panelGrid>
		<p:messages id="messagesBus" showDetail="true" autoUpdate="true" closable="true" />
	</h:form>
</p:dialog>
<p:dialog appendTo="@(body)" widgetVar="newLocality" resizable="false" header="Adăugarea localității"
	rendered="#{security.isAuthenticated()}" modal="true">
	<h:form id="newLocalityForm">
		<h:panelGrid columns="2">
			<h:outputText value="Denumirea RO: "/>
			<p:inputText value="#{localityMB.nameRO}" required="true"/>
			<h:outputText value="Denumirea EN: "/>
			<p:inputText value="#{localityMB.nameEN}" required="true"/>
			<h:outputText value="Denumirea RU: "/>
			<p:inputText value="#{localityMB.nameRU}" required="true"/>
			<h:outputText value="Latitudinea: "/>
			<p:inputText value="#{localityMB.latitude}" required="true"/>
			<h:outputText value="Longitudinea: "/>
			<p:inputText value="#{localityMB.longitude}" required="true"/>
			<h:outputText value="Oficiu: "/>
			<p:selectOneMenu value="#{localityMB.selectedOffice.idOffice}" filter="true" filterMatchMode="contains">
					<f:selectItem itemLabel="" itemValue="#{null}" noSelectionOption="true" />
					<f:selectItems value="#{localityMB.offices}" var="office" itemLabel="#{msg[office.name]}" itemValue="#{office.idOffice}"/>
			</p:selectOneMenu>
			<h:outputText/>
			<p:commandButton value="#{msg['button.save']}" style="float:right">
				<p:ajax event="click" process="@form" listener="#{localityMB.save}" update="messagesLocality :routeFormId:localityId newLocalityForm"/>
			</p:commandButton>
		</h:panelGrid>
		<p:messages id="messagesLocality" showDetail="true" autoUpdate="true" closable="true" />
	</h:form>
</p:dialog>
<p:dialog appendTo="@(body)" widgetVar="newOffice" resizable="false" header="Adăugarea oficiului"
	rendered="#{security.isAuthenticated()}" modal="true">
	<h:form id="newOfficeForm">
		<h:panelGrid columns="2">
			<h:outputText value="Denumirea RO: "/>
			<p:inputText value="#{officeMB.nameRO}" required="true"/>
			<h:outputText value="Denumirea EN: "/>
			<p:inputText value="#{officeMB.nameEN}" required="true"/>
			<h:outputText value="Denumirea RU: "/>
			<p:inputText value="#{officeMB.nameRU}" required="true"/>
			<h:outputText value="Adresa: "/>
			<p:inputText value="#{officeMB.newOffice.address}" required="true"/>
			<h:outputText value="Nr. de telefon: "/>
			<p:inputText value="#{officeMB.newOffice.phone}" required="true"/>
			<h:outputText value="Localitatea: "/>
			<p:selectOneMenu value="#{officeMB.selectedLocality.idLocality}" filter="true" filterMatchMode="contains">
					<f:selectItems value="#{officeMB.localities}" var="locality" itemLabel="#{msg[locality.name]}" itemValue="#{locality.idLocality}"/>
			</p:selectOneMenu>
			<h:outputText/>
			<p:commandButton value="#{msg['button.save']}" style="float:right">
				<p:ajax event="click" process="@form" listener="#{officeMB.save}" update="messagesOffice :routeFormId:officeId newOfficeForm"/>
			</p:commandButton>
		</h:panelGrid>
		<p:messages id="messagesOffice" showDetail="true" autoUpdate="true" closable="true" />
	</h:form>
</p:dialog>
<p:dialog appendTo="@(body)" widgetVar="newSecondaryLocality" resizable="false" header="Adăugarea rutei secundare"
	rendered="#{security.isAuthenticated()}" modal="true">
	<h:form id="newSecondaryLocalityForm">
		<h:panelGrid columns="2">
			<h:outputText value="Prețul: "/>
			<p:inputText value="#{secondaryRouteMB.secondaryRoute.price}" required="true"/>
			<h:outputText value="Timpul de calatorie: "/>
			<h:panelGrid columns="4">
				<p:inputText value="#{secondaryRouteMB.timeHour}" style="width:50px" required="true"/>
				<h:outputText value=" h  "/>
				<p:inputText value="#{secondaryRouteMB.timeMinutes}" style="width:50px"  required="true"/>
				<h:outputText value=" m"/>
			</h:panelGrid>
			<h:outputText value="Descrierea: "/>
			<p:inputText value="#{secondaryRouteMB.secondaryRoute.description}"  required="true"/>
			<h:outputText value="Localitatea: "/>
			<p:selectOneMenu value="#{secondaryRouteMB.locality.idLocality}" filter="true" filterMatchMode="contains">
				<f:selectItems value="#{secondaryRouteMB.localitys}" var="locality" itemLabel="#{msg[locality.name]}" itemValue="#{locality.idLocality}"/>
			</p:selectOneMenu>
			<h:outputText value=""/>
			<p:commandButton value="#{msg['button.save']}" style="float:right">
				<p:ajax event="click" process="@form" listener="#{secondaryRouteMB.save}" update="messagesSecondaryRouteMB :routeFormId:secondaryRoute"/>
			</p:commandButton>
		</h:panelGrid>
		<p:messages id="messagesSecondaryRouteMB" showDetail="true" autoUpdate="true" closable="true" />
	</h:form>
</p:dialog>
<p:dialog appendTo="@(body)" widgetVar="newDays" resizable="false" header="Selectarea zilelor de circulare a rutei"
	rendered="#{security.isAuthenticated()}" modal="true">
	<h:form id="newDaysForm">
		<h:panelGrid columns="1" style="width:100%">
			<p:selectManyCheckbox id="basic" value="#{routeFormMB.selectedDays}" columns="1" layout="pageDirection" >
		        <f:selectItem itemLabel="Luni" itemValue="1" />
		        <f:selectItem itemLabel="Marți" itemValue="2" />
		        <f:selectItem itemLabel="Miercuri" itemValue="3" />
		        <f:selectItem itemLabel="Joi" itemValue="4" />
		        <f:selectItem itemLabel="Vineri" itemValue="5" />
		        <f:selectItem itemLabel="Sîmbătă" itemValue="6" />
		        <f:selectItem itemLabel="Duminică" itemValue="7" />
		    </p:selectManyCheckbox>
		    <p:commandButton value="#{msg['button.save']}" style="float:right">
				<p:ajax event="click" process="@form" listener="#{secondaryRouteMB.save}" update="messagesnewDaysForm :routeFormId:secondaryRoute"/>
			</p:commandButton>
		    </h:panelGrid>
		<p:messages id="messagesnewDaysForm" showDetail="true" autoUpdate="true" closable="true" />
	</h:form>
</p:dialog>
</h:body>
</html>