<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<div class="content">
		<h:graphicImage name="/img/icon/bus.png" styleClass="imageMainPage" title="#{msg['main.page']}">
			<p:ajax event="click" listener="#{indexMB.redirectIndex()}"/>
		</h:graphicImage>
		</div>
		<div class="right" style="padding-right: 5px;margin-top: -20px;">
		<h:form>
		   <ul>	        	
	           <li>
			       <h:commandButton action="#{language.changeLanguage('ro','RO')}"
			            title="#{msg['language.romanian']}" image="resources/img/icon/ro.gif" />
			   </li>
			   <li>
			       <h:commandButton action="#{language.changeLanguage('en','US')}"
			         title="#{msg['language.english']}" image="resources/img/icon/us.gif" />
		      </li>
		      <li>
			        <h:commandButton action="#{language.changeLanguage('ru','RU')}"
			         title="#{msg['language.russian']}" image="resources/img/icon/ru.gif" />
			  </li>
			</ul>
    	</h:form>
		</div>
		
		<h:graphicImage rendered="#{not security.isAuthenticated()}" title="Login" name="/img/icon/authentification.png" onclick="PF('logDialog').show();" styleClass="loginButton"/>    
		<h:graphicImage rendered="#{security.isAuthenticated()}" title="Logout" name="/img/icon/logout.png" styleClass="loginButton">
			<p:ajax event="click" listener="#{indexMB.logout()}"/>
		</h:graphicImage>    
  		
  		<p:dialog id="logDialog" header="#{msg['authentication.dialog.header']}" widgetVar="logDialog" modal="true" appendTo="@(body)" resizable="false">
  			<ui:include src="../../pages/login/login.xhtml"/>
		</p:dialog>
	</ui:composition>
</body>
</html>