<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">
<body>
	<ui:composition>
		<h:form>
			<p:menu id="menu">
				<p:menuitem value="#{msg['main.page']}" url="/index.xhtml" />
				<p:menuitem value="#{msg['menu.timetable']}" url="/routes.xhtml" />
				<p:menuitem value="#{msg['menu.gallery']}" url="/gallery.xhtml" />
				<p:menuitem value="#{msg['menu.legislation']}" url="/legislation.xhtml" />
				<p:menuitem value="#{msg['menu.contacts']}" url="/temp.xhtml" />
				<p:menuitem value="#{msg['main.about']}" url="/temp.xhtml" />
			</p:menu>
		</h:form>
		
	</ui:composition>
</body>
</html>